<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Model year:</strong>
  <%= @vehicle.model_year %>
</p>

<p>
  <strong>Gear:</strong>
  <%= @vehicle.gear %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @vehicle.doors %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle.fuel %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Air:</strong>
  <%= @vehicle.air %>
</p>

<p>
  <strong>Sound system:</strong>
  <%= @vehicle.sound_system %>
</p>

<p>
  <strong>Air:</strong>
  <%= @vehicle.air %>
</p>

<p>
  <strong>Airbags:</strong>
  <%= @vehicle.airbags %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
