<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SampleApplication Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="root">
    <div class="admin__header">
      <%= react_component('admin/components/Layout/AdminLayout/AppBar', {
        title: page_name,
        logoutLink: destroy_user_session_path
      }) %>
    </div>

    <div class="admin__drawer">
      <%= react_component('admin/components/Layout/AdminLayout/AsideDrawer', {
        links: links
      }) %>
    </div>

    <main class="admin__content">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

  </body>
</html>
